## don't include Emacs backup files
##
*~

## LaTeX files to ignore
##
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.idx
*.ind
*.out
*.toc

## Endnote library
##
*.enl
*.Data

## Don’t sync PDFs since they will be available elsewhere
##
*.pdf

## Don't sync local Perl scripts
##
*.pl

## Miscellaneous files to ignore
##
Untitled.bib
.DS_Store

*.Rproj.user
*.Rhistory
*.Rproj
.Rproj.user

*snmfProject
*.snmf*
